name: CI

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Tests - contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.CASH_CI_TOKEN }}
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Show Forge version
        run: |
          forge --version

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
      
      - name: Run Forge Coverage -> Table
        run: |
          forge coverage > ./coverage-report.md && ./utils/convert-coverage-table.sh coverage-report.md
        id: coverage

      - name: Report Coverage in PR
        uses: thollander/actions-comment-pull-request@v3
        with:
          file-path: ./coverage-report.md
          comment-tag: coverage-report
